@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: 'Mooli', san-serif;
 }

 body {
    font-family: var(--primary-font);
    font-size: 1.2em;
  }
  a:link,
  a:visited {
    color: var(--text-light);
  }

header {
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: .5rem;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
    border-style: solid 0 white;
    box-shadow: 5px black;
}
h2 {
    text-align: center;
    color: black;
    grid-column: 1/2;
    grid-row: 1;
}
nav {
    padding: .5rem;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
}
footer {
    background-color: var(--primary-color);
    color: white;
}
.hide {
    display: none;
}

@media screen and (min-width: 700px) {
    
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    ul {
        flex-direction: row;
    }
}